body {
    margin: 0;
    padding: 0;
    background-color: darkblue;
}
#main {
    border: 3px double white;
    margin: 10% auto 10% auto;
    padding: 2% 0 5% 0;
    border-radius: 2%;
    width: 50%;
    height: 60%;
}

#content {
    margin-right: 30%;
    color: white;
    text-align: right;
    font-size: large;
}

h1 {
    color: white;
    text-align: center;
}

#calculate, #clear {
    width: 28%;
    color: darkblue;
}

.space {
    margin-bottom: 15px;
}